ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
    margin-bottom: none;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-size: 98%;
  }
li a:hover {
    background-color: olive;
  }

footer {
  flex-shrink: none;
  font-size: 95%;
  font-family: 'Barlow Condensed', sans-serif;  
}

.jumbotron-fluid h1 {
  color: #ddd; 
  font-family: 'Modak', cursive;
  margin-bottom:0;
  font-size: 500%;
  background-color:  rgb(45, 44, 44);
}

.home h1 {
  text-align: center;
  color: #ddd; 
  font-family: 'Modak', cursive;
  position: fixed;
  top: 30%;
  left: 20%;
  transform: translate(-50%,-50%);   
  font-size: 500%
}
.home img {
  position: static;
  max-width: 85%;
  height: auto;
  padding: 60px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: rgb(45, 44, 44);
  margin:0 auto;
}
.homepage p {
position: absolute;
bottom: 190px;
left: 15px;
width: 450px;
height: 200px;
font-size: 100%;
color: #ddd; 
font-family: 'Barlow Condensed', sans-serif;
}

.two-colors {
  background: linear-gradient(to bottom,  rgb(45, 44, 44) 0%, rgb(45, 44, 44) 50%, rgb(45, 44, 44) 50%,white 50%,white 100%);
  margin:0 auto; 
}
.page-two img {
  padding: 150px;
  object-fit: contain;
  max-width: 60%;
  height: auto;
  display: flex;
  margin: 0 auto;
}
.page-two h1 {
  z-index: 1;
  color: #ddd; 
  font-family: 'Modak', cursive;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%
}
.article img{
  width: 190px;
  height: 190px;
  object-fit: cover;
  border: 10px solid #ddd;
  border-radius: 10px;
  background-color: #ddd;
  float:left;
}
.article p{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
  margin: 10px;
  border: 1px solid  rgb(45, 44, 44);   
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  overflow: hidden;
}  


.col img{
    width: 280px;
    height: 250px;
    object-fit: cover;
    border: 10px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
    margin-bottom: 80px;
  }
h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80%;
    text-align: center;
}
.col p{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin: 10px;
    border: 1px solid  rgb(45, 44, 44);   
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 65px;
}  
.division {
    background: -moz-linear-gradient(90deg, white 0%,white 50%, gray 50%, gray 100%);
    background: -webkit-linear-gradient(90deg,  white 0%,white 50%, gray 50%, gray 100%);
    background: linear-gradient(90deg, white 0%,white 50%, gray 50%, gray 100%);
    margin:0 auto; 
}
h2 {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 80px;
    font-size: 200%;
    text-align: center;
}
.toys h1 {
    z-index: 1;
    color: #ddd; 
    font-family: 'Modak', cursive;
    text-align: center;
    top: 25%;
    font-size: 400%;
  background-color:  rgb(45, 44, 44);    
}


.adventures img {
    padding: 150px;
    object-fit: contain;
    max-width: 60%;
    height: auto;
    display: flex;
    margin: 0 auto;
  }
.adventures h1 {
    z-index: 1;
    color: #ddd; 
    font-family: 'Modak', cursive;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%
  }
.two-colors {
    background: linear-gradient(to bottom,  rgb(45, 44, 44) 0%, rgb(45, 44, 44) 30%, white 30%,white 50%,white 100%);
    margin:0 auto; 
  }
.row img {
    width: max;
    height: 300px;
    object-fit: cover;
    border: 10px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
    margin:80 px;
}
.row p {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin: 10px;
    overflow: hidden;
    margin-bottom: 65px;
    font-size: 100%;
}


.contact {
  background: white;
  margin:0 auto;  
}
.contact-head h1 {
  z-index: 1;
  color: olive; 
  font-family: 'Modak', cursive;
  position: absolute;
  top: 18.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%
}
.contact-head p {
  font-family: 'Barlow Condensed', sans-serif;  
  text-align: center; 
}
.contact-col {
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  font-family: 'Barlow Condensed', sans-serif;
  border: 1px solid  olive;
  border-radius: 1px;
  background-color: white;
  margin: 0 auto;
  width: 50%;
}
.contact-form form {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 140%;
}
.col-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 46px;
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  width: 750px;
  height: 500px;
  border: 1px solid olivedrab ;
  border-radius: 1px;
  background-color: white;
  float:center;
  position: static;
  margin: 0 auto;
  margin-top: 5%;
}
.contact-col h2 {
  font-family: 'Abril Fatface', cursive;
  display:flex;
  margin: 0 auto;
  font-size: 220%;
}