body {
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    width: 1200px;
}
.page-content{
    width: 1200px;
    margin: 0 auto;
}
.site-header {
    background: #333;
    color: #fff;
}
.site-header p {
    margin: 0;
}
.site-header h1 {
    margin: 5px 0;
}
.row {
    display: flex;
}
.col {
    flex: 1;
}
.main {
    flex:1;
    margin: 10px;
    padding: 10px;
}
.article {
    flex:1;
    margin: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    background-color:#fff;
}
img {
    width: 100%;
    height: auto;
}

