ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    list-style-type: none;
    display:block;
    block-size: auto;
    padding: 10px;
}
.odd {
    background: #f1f1f1;
}
.even {
    background:#e1e1e1;
} 
table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}
td {
    padding: 10px;
    text-align: center;
}
.NFC {
 
}
td #cowboys {
    color: #041E42;
    background: #869397;
}
td #bears {
    color: #C83803;
    background: #0B162A;
}
td #saints {
    color: #D3BC8D;
    background: #101820;
}
td #rams {
    color: #002244;
    background: #FFFFFF;
}
td #ravens {
    color: #241773;
    background: #9e7c0c;
}
td #texans {
    color: #A9162D;
    background: #022030;
}
td #chiefs {
    color: #E31837;
    background: #FFB81C;
}
td #patriots {
    color: #e90101;
    background: #07163f;
}



a:hover {
    color: orange;
}
