ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
li:before {
    list-style-type: none;
    display:block;
    block-size: auto;
    position: absolute;
    padding: 10px;
}
.odd {
    background: #f1f1f1;
}
.even {
    background:#e1e1e1;
} 

