body {
    width: 1200px;
    margin: 0 auto;
    background-color: #e7dfcf;
}
#name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #ab9c81;
    text-align: center;
    margin-bottom: 3px;
    padding: 10px;
}
#contact {
    font-size: 12px;
    text-align: center;
    color: #4c525f;
    font-family: Flama-Book,'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    text-align: left;
    margin-bottom: 5px;
}
#main-content {
    padding-bottom: 20px;
}
#main-content p {
    font-size: 15px;
    text-align: center;
    color: #4c525f;
    font-family: Flama-Book,'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    text-align: left;
    margin-bottom: 5px;
}
#main-content h2 {
    font-family: Flama-Book,'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #517c63;
    font-size: 20px;
}
#main-content ul {
    text-align: center;
    list-style-type: circle;
}
#main-content li {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #4c525f;
}
